<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Página Inicio</title>
</head>
<body>
    <div class="main-container">
        <div class="aside">
            aside
        </div>
        <div class="main-content">
            <section class="home section">
                Home
            </section>
        </div>
    </div>
    <script src="js/javascript.js"></script>
<!--<a href="/contacto">Contactanos!</a>-->
</body>
</html>