<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <title>Página Inicio</title>
</head>
<body>
    <!-- MAIN CONTAINER -->
    <div class="main-container">
        <!-- ASIDE -->
        <div class="aside">
            <div class="logo">
                <a href="#"><span>A</span>tlas</a>
            </div>
            <ul class="nav">
                <li><a href="#" class="active"><i class="fas fa-home"></i> Home</a></li>
                <li><a href="#"><i class="fas fa-user"></i> About</a></li>
                <li><a href="#"><i class="fas fa-list"></i>Services</a></li>
                <li><a href="#"><i class="fas fa-briefcase"></i>Portafolio</a></li>
                <li><a href="#"><i class="fas fa-comments"></i>Contact</a></li>
        </div>
        <!-- ASIDE -->
        <!-- MAIN CONTENT -->
        <div class="main-content">
            <!-- HOME -->
            <section class="home section">
                Home
            </section>
            <!-- HOME -->
        </div>
        <!-- MAIN CONTENT -->
    </div>
    <!-- MAIN CONTAINER -->
    <script src="js/javascript.js"></script>
<!--<a href="/contacto">Contactanos!</a>-->
</body>
</html>